.search {
  border-radius: unset;
  background-color: var(--background);
  color: var(--color);
}
.search:focus {
  background-color: var(--background);
  color: var(--color);
}

.btn-search {
  border-radius: unset;
}
.result-box {
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0px;
}
