.search {
  border-radius: unset;
}

.btn-search {
  border-radius: unset;
}
.result-box {
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0px;
}
