.wrapper {
  width: 90vw;
  margin: auto;
}

.carousel-cell {
  width: 20%;
  transition: 0.5s;
  transform: scale(0.9);
}

.is-selected {
  transform: scale(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.flickity-page-dots {
  display: none;
}
