body {
  background-color: var(--background);
  color: var(--color);
  transition: 0.4s;
  overflow-y: hidden;
}

body.dark {
  --background: #101e26;
  --color: #fff;
  --border-color: #fff;
  --border-size: 0.05px;
}

body.light {
  --background: #fff;
  --color: #20262e;
  --border-color: rgba(0, 0, 0, 0.125);
  --border-size: 1px;
}

.wrapper {
  width: 90vw;
  height: 100vh;
  margin: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-cell {
  width: 20%;
  transition: 0.5s;
  transform: scale(0.9);
}

.is-selected {
  transform: scale(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.flickity-page-dots {
  display: none;
}
.flickity-viewport {
  height: 100% !important;
}
.flickity-prev-next-button {
  top: 30%;
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100vw;
    height: 75vh;
  }
  .carousel {
    height: 75vh;
  }
  .carousel-cell {
    width: 70%;
  }
  .flickity-button {
    display: none;
  }
  .display-4 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
